#banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10000;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

#banner h1 {
  position: absolute;
  top: 20vh;
  right: 3vw;
  font-family: yakuzaFont;
  text-align: center;
  font-size: 4rem;
  color: white;
  width: clamp(250px, 50%, 700px);
}

#homeContent {
  padding: 1rem;
  margin-top: 100vh;
  background-color: hsl(0, 0%, 85%);
  min-height: 100vh;
  box-shadow: 0 -0.5rem 0.5rem 0.25rem black;
  overflow-x: hidden;
}

.summary {
  width: 60%;
  margin: 0 auto;
}

.summary h1 {
  text-align: center;
  font-family: yakuzaFont;
  margin: 3rem auto 1rem auto;
  width: clamp(200px, 60%, 500px);
  border-bottom: 3px solid black;
}

.storeBtn {
  width: calc(100% + 2rem);
  background: url("https://wallpapercave.com/wp/wp7893545.png");
  background-position:top;
  background-size: cover;
  margin: 8rem -1rem;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.storeBtn img {
  height: 150%;
  pointer-events: none;
}

.storeBtn .leftImage {
  transform: translateX(-100vw)
}

.storeBtn .rightImage {
  transform: translateX(100vw)
}

.storeBtn .leftImage.active {
  animation: slideInRight 0.75s ease forwards;
}

.storeBtn .rightImage.active {
  animation: slideInLeft 0.75s ease forwards;
}

.storeBtn .storeBtnDiv {
  text-align: center;
}
.storeBtn .storeBtnDiv h1 {
  font-size: 4rem;
  font-family: yakuzaFont;
  margin: 0;
  color: white;
}
.storeBtn .storeBtnDiv a {
  font-size: 2rem;
  font-family: yakuzaFont;
  background-color: #DC143C;
  padding: 0.5rem;
  border-radius: 2rem;
  transition: all 0.3s;
}
.storeBtn .storeBtnDiv a:hover {
  background-color: transparent;
  color: white;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(-5vw);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(5vw);
  }
}

#popularTitle {
  text-align: center;
  font-family: yakuzaFont;
  margin: 1rem auto;
  width: clamp(200px, 60%, 500px);
  border-bottom: 3px solid black;
}

.popularProduct {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.product {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 1rem;
}
.product img {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 30%;
}
.product div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.product div h2 {
 margin: 0;
 font-family: yakuzaFont;
}
.product div h2 span {
  color: #DC143C;
}
.product div a {
  background-color: #DC143C;
  padding: 0.5rem;
  border-radius: 2rem;
  transition: all 0.3s;
}
.product div a:hover {
  background-color: black;
  color: white;
}


@media only screen and (max-width: 1000px) {
  .storeBtn {
    justify-content: center;
  }

  .storeBtn img {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .product {
    flex-wrap: wrap;
  }

  .product img {
    width: 100%;
    order: 1;
  }

  .product div {
    order: 2;
  }
}